* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(275, 100%, 97%);
    z-index: 0;
}

.top {
    z-index: 0;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.top-image {
    width: 1920px;
}

.center {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 550px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
}

.container-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
