* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    caret-color: transparent;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(275, 100%, 97%);
    z-index: 0;
}

.top {
    z-index: 0;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.top-image {
    width: 1920px;
}

.center {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 550px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    row-gap: 10%;
}

.container-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 350px;
}

.container-h1 {
    font-size: 50px;
}

.accordian-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.accordian {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: black;
    cursor: pointer;
    width: 500px;
    text-align: left;
    border: none;
    outline: none;
    font-weight: 800;
}

.active,
.accordian:hover {
    color: hsl(293, 72%, 42%) !important;
}

.panel {
    background-color: white;
    display: none;
    overflow: hidden;
    width: 500px;
}

@media (max-width: 584px) {
    .container {
        width: 350px;
    }

    .container-top {
        width: 350px;
        margin-right: -25px;
    }

    .accordian-container {
        width: 300px;
    }

    .accordian {
        width: 300px;
    }

    .accordian-p {
        width: 300px;
    }

    .panel {
        width: 300px;
        font-size: 12px;
    }
}